div#main {
    width:100%;
    margin:0px auto;
}

/* Header
----------------------------------------------------------------------*/

header {
    position:relative;
    text-align:center;
    padding:12px 0px 0px;
/*    background:rgba(255,255,255,0.62);*/
/*    background:transparent url(../images/header-back.png) repeat-x bottom left;*/
}

    .canvas header img#owl {
        opacity:0;
    }

    header h1 {
        font-size:5em;
        margin:18px 0px; padding:0px;
        text-shadow:0px 0px 7px #999;
        text-transform:none;
        font-size:3.75em; /* 60/16 */
    }
    
    header h1 a span{
        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
    }
    
    header h1 a:hover span {
        color:rgba(0,0,0,1) !important;
    }

/* Navigation
----------------------------------------------------------------------*/   
    header nav {
/*        background-color:rgba(0,0,0,0.22);*/
    }
    
    header nav ul {
        width:90%;
        margin:24px auto 24px;
    }
    
    header nav ul li {
        display:block;
        float:left;
        width:16.66666666666666666666%;
        padding:0px;
        text-transform:uppercase;
        font-size:.75em; /* 12/16 */
        letter-spacing:0.1em;
    }
    
    header nav ul li a {
        display:block;
        width:90%;
        padding:6px 0px;
        margin:0px 5%;
        color:white;
        background-color:rgba(0,0,0,0.22);
        white-space:nowrap;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
           -moz-border-radius: 18px 0px 36px 18px; 
        -webkit-border-radius: 18px 0px 36px 18px; 
                border-radius: 18px 0px 36px 18px; 
        -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    }
    
    header nav ul li a:hover {background-color:rgba(0,0,0,0); color:black;}

/* Feed Icons
----------------------------------------------------------------------*/    
    header div#icons {
        position:absolute;
        top:24px;
        right:12%;
    }
    
    header div#icons a {
        opacity:0.42;
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }
    
    header div#icons a:hover {
        opacity:1;
    }
    
    header div#icons input {
        width:90%;
        border:1px solid #ccc;
        background:white;
        margin:6px auto;
        font-size:0.75em;
        padding:6px;
        color:#999;
    }
    
/* Body
----------------------------------------------------------------------*/    
    
div#body {
    width:90%;
    margin:0px auto;
}    
    
/* Left
----------------------------------------------------------------------*/
div#left {
    float:left;
    width:69%;
}

/* Right
----------------------------------------------------------------------*/
div#right {
    float:right;
    width:28%;
}

div#right h3 {
    position:relative;
    padding:6px 5% 12px;
    text-shadow:0px 0px 1px #FFF;
    font-size:1.5em; /* 24/16 */
    margin:0px 0px 12px 0px;
    line-height:1.2em;
    background-color:rgba(0,0,0,0.22);
    color:white;
}

div#right div.preh3 {
    display:block;
    content:'';
    width:100%;
    height:12px;
    background:transparent url(../images/footer-back.png) repeat-x top left;
}

/* Shapes
----------------------------------------------------------------------*/
.circle {
    width:24px;
    height:24px;
       -moz-border-radius: 12px 12px 12px 12px; 
    -webkit-border-radius: 12px 12px 12px 12px; 
            border-radius: 12px 12px 12px 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
    margin:0px 6px;
}

.wing {
    padding:0px; margin:0px;
    width:32px;
    height:24px;
       -moz-border-radius: 24px 0px 24px 12px; 
    -webkit-border-radius: 24px 0px 24px 12px; 
            border-radius: 18px 0px 24px 18px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

/* Articles
----------------------------------------------------------------------*/
article {
    background:rgba(255,255,255,0.76);
    padding:5%;
}

p.byline span.author {
    color:white;
}

p.byline abbr.published-time {
    color:white;
}

/* Videos
----------------------------------------------------------------------*/
div#video iframe {
    display:block;
}

/* Events
----------------------------------------------------------------------*/
div#map_info p {
    margin:0px;
}